* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

li {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: rgb(255, 191, 0);
  color: rgb(42, 31, 15);
  text-transform: uppercase;
}

.add-form {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 153, 0);
  padding: 1rem;
  gap: 5px;
}

.add-form h3 {
  font-weight: 500;
  font-size: 18px;
  color: rgb(42, 31, 15);
  margin-right: 10px;
}

.add-form select {
  width: 55px;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.add-form input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.add-form button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(42, 31, 15);
  color: rgb(255, 250, 241);
  cursor: pointer;
}

.pack-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
  height: calc(100vh - 250px);
  background-color: rgb(65, 52, 33);
  color: rgb(255, 250, 241);
}

.item {
  font-weight: 600;
}

.item button {
  border: none;
  margin-left: 10px;
  background: none;
  cursor: pointer;
  padding: 10px;
}

.item .packed {
  text-decoration: line-through;
}

.stats {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9dffff;
}
